/* Theme: mb-labs Bootstrap theme */
/* Author: BACOU, Melanie <mel@mbacou.com> */
/* Version: v2.2.0 */
/* Date: 2024-01-31 */
/* Boostrap customizations for Mel B. Labs */

/*-- scss:defaults --*/

$theme: 'mb-article';

$teal: $brand-teal;
$indigo: $brand-indigo;
$blue: $brand-blue;
$cyan: $brand-cyan;
$green: $brand-green;
$purple: $brand-purple;
$pink: $brand-pink;
$red: $brand-red;
$orange: $brand-orange;
$yellow: $brand-yellow;
$gray: $brand-gray;
$darkgray: $brand-darkgray;

$light: $brand-light;
$dark: $brand-dark;

// use brand variables?
$font-family-base: "Crimson Text";
$font-family-sans-serif: "M PLUS Code Latin";
$font-family-serif: "Caveat";
$font-monospace: "M PLUS Code Latin";
$headings-font-family: "M PLUS Code Latin";

// Generally no need to modify below (unless dark theme maybe)
$black: #000000;
$white: #ffffff;

$gray-100: tint-color($gray, 90%);
$gray-200: tint-color($gray, 80%);
$gray-300: tint-color($gray, 70%);
$gray-400: tint-color($gray, 60%);
$gray-500: tint-color($gray, 50%);
$gray-600: tint-color($gray, 40%);
$gray-700: tint-color($gray, 30%);
$gray-800: tint-color($gray, 20%);
$gray-900: tint-color($gray, 10%);

$body-color: $gray-800;
$body-bg: $light;
$link-color: $gray-700;
$text-muted: rgba($body-color, .85);
$code-color: $gray-700;
$shaded: rgba(tint-color($body-bg, 25%), .65); // also $input-bg

$headings-font-color: $gray-900; // darker than text
$headings-font-weight: 400;
$font-weight-bold: 500;

$spacer: 2rem; // 2 x 15px line-height
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * 1,
  4: $spacer * 1.5,
  5: $spacer * 2,
);

$font-size-base: 20/15 * 1rem; // 1rem = 15px in YAML
$small-font-size: calc($font-size-base - 2px);
$code-font-size: calc($font-size-base - 5px);
$sub-sup-font-size: calc($font-size-base - 5px);

$line-height-base: calc($spacer / $font-size-base) !default;
$list-inline-padding: .25rem;

$h1-font-size: calc($font-size-base + 14px); // 34px
$h2-font-size: calc($font-size-base + 10px); // 30px
$h3-font-size: calc($font-size-base + 6px); // 26px
$h4-font-size: calc($font-size-base + 4px); // 24px
$h5-font-size: calc($font-size-base + 2px); // 22px
$h6-font-size: calc($font-size-base + 2px);

$enable-rounded: true;
$enable-negative-margins: true;

$border-color: $gray-600;
$border-radius-sm: 0;
$border-radius: .25rem;
$border-radius-lg: .5rem;
$border-width: 1px;
$hr-border-color: $border-color;
$hr-opacity: 1;

$grid-columns: 12;
$grid-gutter-width: 0;

$table-cell-padding: 0 .5rem;
$table-cell-padding-sm: 0 .5rem;
$table-striped-bg: tint-color($darkgray, 55%);
$table-border-color: tint-color($darkgray, 55%);
$table-hover-bg: rgba($darkgray, .75);

$thumbnail-border-width: 0;
$thumbnail-border-radius: $border-radius;
$thumbnail-border-color: $border-color;

$icon-link-gap: .5rem;
$icon-link-icon-size: $font-size-base;

$input-color: $text-muted;
$input-bg: $shaded;
$input-btn-padding-y: .25rem;
$input-placeholder-color: $input-color;
$input-border-color: $border-color;
$input-disabled-bg: darken($input-bg, 4%);
$input-group-addon-bg: $shaded;

$jumbotron-bg: $shaded;
$breadcrumb-active-color: $body-color;
$component-active-bg: rgba($primary, 12%);

$form-label-margin-top: 0rem;
$form-label-margin-bottom: 0.5rem;
$form-label-color: $border-color;
$form-label-font-size: calc($code-font-size - 3px);
$form-label-font-weight: 500;
$list-group-bg: $input-bg;
$list-group-border-color: $input-border-color;
$list-group-hover-bg: lighten($component-active-bg, 20%);
$modal-content-bg: $input-bg;
$modal-content-border-color: $border-color;

$pagination-bg: $input-bg;
$pagination-border-color: $border-color;
$pagination-color: $input-color;
$pagination-disabled-bg: $input-disabled-bg;
$pagination-hover-color: $link-color;
$progress-bg: $input-bg;

$card-spacer-x: .5rem;
$card-spacer-y: 0;
$card-title-spacer-x: 0;
$card-title-spacer-y: .5rem;
$card-title-color: $headings-font-color;
$card-bg: transparent;
$card-cap-bg: $shaded;
$card-border-width: 0;
$card-border-color: $darkgray;
$card-border-radius: $border-radius;

$callout-margin-x: 0;
$callout-margin-y: 2rem;
$callout-padding-x: 1rem;
$callout-padding-y: .5rem;
$callout-border-width: 0;
$callout-border-left-width: 3px;
$callout-border-radius: $border-radius;
$callout-border-color: $border-color;

$navbar-active-color: $body-color;
$navbar-hover-color: $primary;
$navbar-border-color: transparent;
$navbar-brand-padding-y: 0;
$navbar-brand-font-size: 1.5rem;
$navbar-brand-margin-start: 2rem;
$navbar-brand-margin-end: 2rem;
$navbar-toggler-font-size: $code-font-size;

$nav-link-color: $body-color;
$nav-link-active-color: $body-color;
$nav-link-hover-color: $primary;
$nav-link-font-family: $font-family-sans-serif;
$nav-link-font-size: $code-font-size;
$nav-link-font-weight: 400;
$nav-link-padding-x: 1rem;
$nav-link-padding-y: 0;
$nav-tabs-border-color: $border-color;

// Sidebar variables
$sidebar-font-size: $small-font-size;
$sidebar-font-size-section: $small-font-size;
$sidebar-font-size-collapse: $small-font-size;
$sidebar-font-size-section-collapse: $small-font-size;


/*-- scss:rules --*/
body {
  line-height: 2rem;
}
p, ol, ul {
  margin: 0 0 1rem 0;
}
hr {
  border-top: double .25rem $hr-border-color;
  margin: .5rem 0 2.25rem;
}

label, .label {
  display: block;
  font-size: $form-label-font-size;
  font-family: $font-family-sans-serif;
  font-weight: $form-label-font-weight;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.75rem;
  padding-bottom: .25rem;
}
.form-label {
  text-align: end;
}
mark, .mark {
  color: inherit;
  font-weight: $font-weight-bold;
  padding: 0 .25rem;
  background-color: rgba($primary, 10%);
  border-radius: $border-radius;
}
small, .small {
  font-size: $small-font-size;
  line-height: 1.75rem;
}

// Headings
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: $headings-font-weight;
  line-height: 3rem;
  padding: 0;
  margin: 2rem 0;
}
h1.title {
  margin: 2rem 0 1rem 0 !important;
}
h1.quarto-secondary-nav-title {
  font-size: 2rem;
  line-height: 2rem;
  margin: 1rem 0 1rem;
  padding: 0;
}
h2, .h2 {
  color: $primary;
  border-bottom: none;
}
h4, .h4 {
  color: $gray-500;
}
h3, .h3 {
  line-height: 2.5rem;
}
h4, .h4, h5, .h5, h6, .h6 {
  line-height: 2rem;
}
h5, .h5 {
  color: $primary;
}
h6, .h6 {
  color: $secondary;
  font-family: $font-family-serif;
  margin: 0 0 1rem 0;
  transform: rotate(-.6deg);
}
.lead, .lead p {
  font-family: $font-family-base;
  font-size: 2rem;
  font-weight: 300;
  color: $text-muted;
  font-style: normal;
  line-height: 2rem;
  margin-bottom: 3rem;
}
p.subtitle {
  color: $gray-500;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

// Code blocks
pre, code, pre code {
  color: $code-color;
  font-family: $font-monospace;
  font-size: $code-font-size;
  background-color: none;
  padding: 0;
}
code span.fu, code span.sc {
  font-weight: 400;
}

p code:not(.sourceCode), li code:not(.sourceCode), 
td code:not(.sourceCode) {
  color: inherit;
  font-family: $font-monospace;
  font-size: $code-font-size;
  line-height: inherit;
  background-color: $shaded;
  padding: 0 .25rem !important;
}
.code-with-filename .code-with-filename-file {
  background-color: $table-striped-bg;
  padding: 0 1rem;
  border: 1px solid $table-striped-bg;
  border-radius: $border-radius $border-radius 0 0;
}
.code-with-filename pre {
  color: $code-color;
  font-size: $code-font-size;
  line-height: calc(2rem - 2px);
}
div.sourceCode, details, .cell {
  margin: 0 0 2rem 0;
}
div.sourceCode {
  background-color: $shaded !important;
  border: none;
  padding: 1rem 1rem .5rem;
}
pre.sourceCode, pre>code.sourceCode>span {
  font-size: $code-font-size;
  line-height: 1.5rem;
  background: none;
  padding: 0;
}

// Tables
table, .table {
  margin: .5rem 0;
  border: none;
  border-top: 1px solid $border-color;
  background-color: $shaded;
  backdrop-filter: blur(3px);
}
.table>:not(caption)>*>* {
  padding: 0 .5rem;
}
.table th {
  color: $headings-font-color;
  font-family: $font-family-sans-serif;
  font-size: $code-font-size;
  font-weight: 500;
  line-height: calc(2rem - 1px);
  border: none;
}
.table tbody {
  border-top: 1px solid $border-color;
  border-bottom: 2px solid $border-color;
}
.table td {
  line-height: calc(2rem - 1px);
  border: none;
  border-bottom: 1px solid $darkgray;
}
.table-borderless td,
.table tr:last-of-type td,
.table-striped td {
  border-bottom: none;
}

// Margin notes and captions
caption, .panel-caption, .figure-caption, .subfigure-caption, 
.table-caption, 
figcaption, .column-margin figcaption, .margin-caption {
  font-family: $font-family-sans-serif;
  font-size: $code-font-size;
  color: $text-muted;
  text-align: left;
  padding: 0;
  margin: .5rem 0 1rem 0;
}
.aside, .column-margin {
  font-family: $font-family-base;
  font-size: $small-font-size;
  color: $text-muted;
  line-height: 1.75rem;
  margin: 0;
}
.aside p, .column-margin p, .column-margin.column-container p {
  margin-bottom: 1rem;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
}

// Figures and images
.figure {
  margin: 0;
}
.figure-img {
  background-color: $shaded;
  padding: 0;
  margin-bottom: 1rem;
}
.img-thumbnail {
  padding: 0;
  margin-bottom: 1rem;
  border-radius: $border-radius;
}
.img-fluid {
  border-radius: $border-radius;
}


/* -------------------------------------------------------------------------------- */
/* Quarto page layout fixes                                                         */
/* -------------------------------------------------------------------------------- */

#quarto-content>* {
  padding: 0;
  margin: 0;
}
#quarto-content {
  border-top: solid 1px $darkgray;
  background-image:
    linear-gradient(to right, $darkgray, transparent 1px, transparent),
    linear-gradient(to bottom, $darkgray, transparent 1px, transparent);
  background-size: 2rem 2rem;
  background-position: 0 calc(-.5rem + 1px);
  background-repeat: repeat;
}
#quarto-announcement {
  font-family: $font-family-sans-serif;
  font-size: 1.25rem;
  border: none;
}
main {
  background-image:
  linear-gradient(to right, $body-bg, transparent, $body-bg);
}
#quarto-header, #title-block-header,
#quarto-sidebarnav-toggle, .toc-actions {
  display: none;
}
#mb-header {
  z-index: 1300;
  backdrop-filter: blur(3px);  
}

// Reorder flex blocks in sidebar
#quarto-sidebar>* {
  text-align: end;
  padding: 0;
  margin: 0;
}
#quarto-sidebar {
  padding: 4rem 1rem 1rem 1rem;
}

/* Quarto TOC on the left */
.sidebar.sidebar-navigation:not(.rollup) {
  background-color: transparent;
}
.sidebar nav[role=doc-toc]>ul {
  border-right: 1px solid $primary;
  padding: 0;
}
.sidebar nav[role=doc-toc]>ul li a {
  color: $nav-link-color;
  text-align: end;
  line-height: 1.5rem;
  font-family: $nav-link-font-family;
  font-size: $code-font-size;
  border: none;
  border-right: solid 4px transparent;
  padding: 0.25rem 1rem 0.25rem 0;
}
.sidebar nav[role=doc-toc]>ul li a.nav-link,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.nav-link {
  border: none;
  border-right: solid 4px transparent;
}
.sidebar nav[role=doc-toc] ul>li>a.nav-link.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.nav-link.active {
  border: none;
  border-right: solid 4px $primary;
}
.sidebar nav[role=doc-toc] ul>li>a.nav-link:hover,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.nav-link:hover {
  border: none;
  border-right: solid 4px $border-color;
}
.sidebar nav[role=doc-toc] ul>li>ul {
  margin-bottom: .25rem;
}
.sidebar nav[role=doc-toc] ul>li>ul a {
  padding-right: 1.5rem;
}

#quarto-search {
  margin: 0;
}
#quarto-search input {
  font-size: unset;
}