/*-- scss:rules --*/

/* Navigation */
nav .nav-item .nav-link,
.nav-tabs .nav-item .nav-link {
  font-family: $nav-link-font-family;
  font-size: $nav-link-font-size;
  font-weight: $nav-link-font-weight;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 3rem;
  padding: $nav-link-padding-y $nav-link-padding-x;
}

nav .nav-item .nav-link.active,
.nav-tabs .nav-item .nav-link.active {
  color: $nav-link-active-color;
}

nav .nav-item .nav-link:hover,
.nav-tabs .nav-item .nav-link:hover {
  background-color: rgba($nav-link-hover-color, 10%);
}

nav .nav-item .bi {
  font-size: $font-size-base;
}

/* Misc */
.column-screen-inset-shaded {
  padding: 1rem;
  background-color: $shaded;
}

// Sidebar
.mb-footer p {
  color: $text-muted;
  font-size: $code-font-size;
  line-height: 1.5rem;
}
.mb-logo img {
  max-height: 11vh;
  filter: grayscale(100%);
}
.mb-logo img:hover {
  filter: none;
}

/* Helper classes */
.bg-shaded {
  background-color: $shaded;
  backdrop-filter: blur(3px);
}
.text-muted {
  color: $text-muted !important;
}
.text-sans {
  font-family: $font-family-sans-serif;
  font-size: $code-font-size;
}
.text-serif {
  font-family: $font-family-serif;
}

@media(min-width: 768px) {
  .border-md-start {
    border-left: 1px solid $border-color;
  }
}